---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Source Sans Pro, Heveltica, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     0px;

$text-color:       white;
$background-color: #fdfdfd;
$brand-color:      #E64016;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.wrapper {
    border: solid grey 10px;
    padding: 10px;
}

.head-container {
    // border: solid black;
    height: 250px;
    box-sizing: border-box;
    background-color: #73D6B4;
}

// .head-container:after {
//   content: "";
//   display: table;
//   clear: both;
// }

.title-container {
    // box-sizing: border-box;
    // height: 80%;
    // width: 100%;
    // // margin: 0 auto;
    // position: relative;
    // height: 10em;
    // position: relative;   
    padding: 18px; 
}

h1, h2 {
    // float: left;
    width: 100%;
    text-align: center;
    // font-weight: 700;
    font-size: 60px;
    // border: solid black;
    margin: 0;
    box-sizing: border-box;
    color: #B9EADA;

}

h2 {
    color: #386958;
    font-weight: 300;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:visited {
        color: darken;
}

a:hover {
        color: #003D7A;
        text-decoration: none;
}

.site-nav {
    float:left;
    // border: solid purple;
    width: 100%;
    background-color: #50967E;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.post-link {
    border: solid black;
    text-align: left;
    font-weight: 600;
    color: #E64016
}

.post-title {
    border: solid black;
    text-align: left;
    color: #E64016
}

// .post-content {
//     border: solid green;
//     text-align: left;
//     font-weight: 200;
    
// }

// .page-test {background: red;}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
