---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Source Sans Pro, Heveltica, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     0px;

$text-color:       #828282;
$background-color: #fdfdfd;
$brand-color:      #E64016;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.wrapper {
    padding: 10px;
}

// header styling 
.head-container {
    height: 260px;
    box-sizing: border-box;
    background-color: #81DABC;
}

.title-container { 
    padding: 18px; 
}

h1, h2 {
    width: 100%;
    text-align: center;
    font-size: 68px;
    margin: 0;
    box-sizing: border-box;
    color: #C7EEE1;
}

h2 {
    color: #386958;
    font-weight: 300;
    font-size: 22px;
}

a {
    text-decoration: none;
}

a:visited {
        color: darken;
}

a:hover {
        color: #81DABC;
        text-decoration: none;
}

.site-nav {
    float:left;
    width: 100%;
    background-color: #74C4A9;
    color: white;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 500;
}

// body styling

.post-list {
    margin-top: 15px;
}

.post-link {
    text-align: left;
    font-weight: 500;
    color: #386958;
    font-size: 20px;
}


p {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 5px;
    text-color: #B8B8B8;
    font-size: 18px;
    line-height: 200%;
    padding-bottom:10px;
    font-weight: 300;
}

p:after {
    line-spacing: 10em;
}

.post-meta {
    margin-top: 10px;
    padding-top: 10px;
    font-weight: 200;
    font-size: 18px;
}

.blog-post {
    margin-bottom: 40px;
}

.read-more {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    display: block;
    color: #FF7B59;
    padding-top: 6px;
}


// footer styling 

.site-footer {
    height: 175px;
    box-sizing: border-box;
    background-color: #C7EEE1;
    border-top: solid 20px #81DABC;
}


.footer-col-wrapper {
    max-width: 800px;
    padding-right: 17%;
    padding-left: 17%;
}

.footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.footer-col {
    float: left;
}

.text {
    max-width: 400px;
    float: right;
    padding-left: 30px;
}


// blog page content

.post-title {
    text-align: left;
    color: #386958;
    font-weight: 600;
    font-size: 30px;
}

.post-content {
    text-align: left;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 100px;
    
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
